body {
  margin: 0;
  background-color: #FDFDFE;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-flow: column;
  padding: 50px;
}

.container__title {
  text-align: center;
}

.container__table {
  margin: auto;
  text-align: justify;
  border-collapse: collapse;
  width: 100%;
}

.container__table tr {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.container__table tr th {
  padding: 10px;
}
.coin td {
  padding: 5px;
}
.coin_name{
  display: flex;
  align-items: center;
}
.coin_name img {
  padding-right: 10px;
}
.coin_symbol {
  padding-left: 10px;
  color: gray;
  text-transform: uppercase;
}
.cardContainer__container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr));
  gap: 25px;
}
.card_container {
  border-radius: 5px;
  padding: 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: 90%;
}
.card_container__header{
  display: flex;
  align-items: center;
}
.card_container__body {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.card_container__body  > div{
  display: inherit;
  align-items: center;
}